/* Base Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0c0c0c;
  margin: 0;
  padding: 0;
}

#todo-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(6, 166, 240, 0.902);
}

#header h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
  font-weight: 900;
  font-size: 50px;
  padding: 10px;
  border-bottom: 0.5px solid lightblue;
}

#action  {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#action .btn {
  padding: 10px 20px;
  font-size: 16px;
}

#input-area {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#task-input {
  width: 100%;
  max-width: 600px;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.col-auto button {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  font-size: 16px;
}

.btn0 {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
              transform 0.2s ease;
  cursor: pointer;
}
.btn0:hover {
  box-shadow:
    0 0 8px rgba(0, 123, 255, 0.6),
    0 4px 16px rgba(0, 123, 255, 0.4);
}
.btn:hover{
  background: lightskyblue;
}

#tasklist {
  list-style-type: none;
  padding: 0;
}

#tasklist li {
  margin-bottom: 10px;
  padding: 12px 8px 12px 50px;
  border-radius: 4px;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
#tasklist li::before{
   content: '';
   position: absolute;
   height: 28px;
   width: 28px;
   border-radius: 50%;
   background-image:url(images/unchecked.png) ;
   background-size: cover;
   background-position: center;
   top: 12px;
   left: 8px;
}
#tasklist li.checked{
  text-decoration: line-through;
}
#tasklist li.checked::before{
   background-image:url(images/checked.png) ;
}
 ul li span{
  position: absolute;
  right:0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  color:black;
  line-height: 40px;
  text-align:center;
  border-radius: 8px;
}
ul li span:hover{
  background:lightblue;
}  

/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
  #todo-container {
    margin: 20px;
    padding: 15px;
  }

  #task-input {
    font-size: 15px;
  }

  .col-auto button {
    font-size: 15px;
  }

  #tasklist li {
    font-size: 15px;
  }
}

/* Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
  #action .nav {
    flex-direction: row ;
    align-items: center;
  }

  #action .btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #task-input {
    font-size: 14px;
  }

  .col-auto button {
    font-size: 14px;
  }

  #tasklist li {
    font-size: 14px;
  }
}

